.carousel-item {
    height: 500px;
    background-size: cover;
    background-position: center;
  }
  .slide1 {
    background-image: url("https://www.admiral.com/sites/default/files/public/styles/magazine_article_800/public/2023-07/Article%20Photo%20%2817%29.jpg");
  }
  .slide2 {
    background-image: url("https://www.admiral.com/sites/default/files/public/styles/magazine_article_800/public/2023-07/Article%20Photo%20%2817%29.jpg");
  }
  .slide3 {
    background-image: url("https://via.placeholder.com/1200x500?text=Slide+3");
  }
  